.address_form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 100px;
  width: 400px;
  margin-right: auto;
  margin-left: auto
}

.address_form .field { padding: 4px; margin:1px; }

.address_form .field label { display:inline-block; width:120px; margin-left:5px; }

.address_form .field input { display:inline-block; }
